<%- include ("includes/header") %>


<div style="background: url('/public/img/background.png'), linear-gradient(rgba(0,0,0,0.05), #009688); padding-top: 270px; padding-bottom: 270px;">
    <div id="homeApp">
        <div class="container" id="features">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="display-1">Bit Vault</h1>
                    <p style="font-size: larger;">Store, Share, and Collaborate on files and folders from your devices.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ("includes/footer") %>